{% load static %}

<!--   Core   -->
<script src="{% static 'assets/js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-cookie/jquery.cookie.js' %}" type="text/javascript"></script>
<!--   Optional JS   -->
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>

<!--   Notify   -->
<script src="{% static 'assets/js/plugins/notyf/notyf.min.js' %}"></script>

<!--   G.Maps   -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!--   Argon JS   -->
<script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>

<!--   Dashboard JS   -->
<script src="{% static 'assets/js/dashboard.js' %}"></script>

<!-- Custom app script -->
<script type="application/javascript" src="{% static 'app_assets/jquery/js/jquery-3.3.1.min.js' %}"></script>
<script type="application/javascript" src="{% static 'app_assets/jquery/js/jquery-confirm.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app_assets/jquery/cookie/jquery.cookie.js' %}"></script>
<script type="application/javascript" src="{% static 'app_assets/js/notify.js' %}"></script>
<script type="application/javascript" src="{% static 'app_assets/js/app_js.js' %}"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            notification['{{ message.tags }}']("<p>" + '{{ message|capfirst }}' + "</p>");
        {% endfor %}
    {% endif %}
</script>